<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container-fluid">
   <div class="navbar-header" style="text-align: center;">
      <span class="navbar-brand">Online Products Store</span>
    </div>
  </div>
</nav>
<div id="main">
    <div class="vertical-menu">
      <ul>
        <a routerLink="/"><li style="text-align: center; font-weight: bold; color: grey;">All Products</li></a>
        <a routerLink="/electronics"><li (click)="toggleElec()">Electronics</li></a>
	        <span *ngIf="showElectronics" id="addmenu">
			    <li (click)="toggleTV()">TV</li>
			    <span *ngIf="showTV" id="addmenu1">
			    	<li (click)="showTV1()">TV1</li>
			    	<li (click)="showTV2()">TV2</li>
			    	<li (click)="showTV3()">TV3</li>
			    	<li (click)="showTV4()">TV4</li>
			    </span>
		        <li (click)="toggleMobile()">Mobiles</li>
		        <span *ngIf="showMobile" id="addmenu1">
			    	<li (click)="showMobile1()">Mobile1</li>
			    	<li (click)="showMobile2()">Mobile2</li>
			    	<li (click)="showMobile3()">Mobile3</li>
			    	<li (click)="showMobile4()">Mobile4</li>
			    </span>
	       	</span>
        <a routerLink="/clothes"><li (click)="toggleClothes()">Clothes</li></a>
        <span *ngIf="showClothes" id="addmenu">
    		<li (click)="toggleShirt()">Shirts</li>
    		<span *ngIf="showShirt" id="addmenu1">
			    <li (click)="showShirt1()">Shirt1</li>
			    <li (click)="showShirt2()">Shirt2</li>
			    <li (click)="showShirt3()">Shirt3</li>
			</span>
			<li (click)="toggleTshirt()">Tshirts</li>
			<span *ngIf="showTshirt" id="addmenu1">
			    <li (click)="showTshirt1()">Tshirt1</li>
			    <li (click)="showTshirt2()">Tshirt2</li>
			    <li (click)="showTshirt3()">Tshirt3</li>
			</span>
		    <li (click)="togglePants()">Pants</li>
		    <span *ngIf="showPants" id="addmenu1">
			    <li (click)="showPants1()">Pants1</li>
			    <li (click)="showPants2()">Pants2</li>
			    <li (click)="showPants3()">Pants3</li>
			</span>
	   	</span>
        <a routerLink="/shoes"><li (click)="toggleShoes()">Shoes</li></a>
	    <span *ngIf="showShoes" id="addmenu">
			<li (click)="showShoes1()">Shoes1</li>
			<li (click)="showShoes2()">Shoes2</li>
		    <li (click)="showShoes3()">Shoes3</li>
		    <li (click)="showShoes4()">Shoes4</li>
	    </span>
        <a routerLink="/books"><li (click)="toggleBooks()">Books</li></a>
	    <span *ngIf="showBooks" id="addmenu">
		    <li (click)="showBooks1()">Books1</li>
			<li (click)="showBooks2()">Books2</li>
			<li (click)="showBooks3()">Books3</li>
			<li (click)="showBooks4()">Books4</li>
	    </span>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="data">
        <h2 class="page-header">Electronics Inventory</h2>
        <h4 class="page-header">Television</h4>
        <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder" *ngIf="tv1.show">
              <img src="assets/images/tv1.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>{{tv1.productName}}</h4>
              <span class="text-muted">By {{tv1.brand}}</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder" *ngIf="tv2.show">
              <img src="assets/images/tv2.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>{{tv2.productName}}</h4>
              <span class="text-muted">By {{tv2.brand}}</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder" *ngIf="tv3.show">
              <img src="assets/images/tv3.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>{{tv3.productName}}</h4>
              <span class="text-muted">By {{tv3.brand}}</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder" *ngIf="tv4.show">
              <img src="assets/images/tv4.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>{{tv4.productName}}</h4>
              <span class="text-muted">By {{tv4.brand}}</span>
            </div>
        </div>

        <h4 class="page-header">Mobiles</h4>
        <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder" *ngIf="mobile1.show">
              <img src="assets/images/mobile1.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>{{mobile1.productName}}</h4>
              <span class="text-muted">By {{mobile1.brand}}</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder" *ngIf="mobile2.show">
              <img src="assets/images/mobile2.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>{{mobile2.productName}}</h4>
              <span class="text-muted">By {{mobile2.brand}}</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder" *ngIf="mobile3.show">
              <img src="assets/images/mobile3.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>{{mobile3.productName}}</h4>
              <span class="text-muted">By {{mobile3.brand}}</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder" *ngIf="mobile4.show">
              <img src="assets/images/mobile4.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>{{mobile4.productName}}</h4>
              <span class="text-muted">By {{mobile4.brand}}</span>
            </div>
    	</div>
    	<hr>

	    <h2 class="sub-header">All Products in this Category</h2>
    	<div class="table-responsive" id="products-list">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Product ID</th>
                  <th>Product Name</th>
                  <th>Product Type</th>
                  <th>Brand</th>
                  <th>Price (In Rupees)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{tv1.id}}</td>
                  <td (click)="showTV1()">{{tv1.productName}}</td>
                  <td>{{tv1.productType}}</td>
                  <td>{{tv1.brand}}</td>
                  <td>{{tv1.price}}</td>
                </tr>
                <tr>
                  <td>{{tv2.id}}</td>
                  <td (click)="showTV2()">{{tv2.productName}}</td>
                  <td>{{tv2.productType}}</td>
                  <td>{{tv2.brand}}</td>
                  <td>{{tv2.price}}</td>
                </tr>
                <tr>
                  <td>{{tv3.id}}</td>
                  <td (click)="showTV3()">{{tv3.productName}}</td>
                  <td>{{tv3.productType}}</td>
                  <td>{{tv3.brand}}</td>
                  <td>{{tv3.price}}</td>
                </tr>
                <tr>
                  <td>{{tv4.id}}</td>
                  <td (click)="showTV4()">{{tv4.productName}}</td>
                  <td>{{tv4.productType}}</td>
                  <td>{{tv4.brand}}</td>
                  <td>{{tv4.price}}</td>
                </tr>
                <tr>
                  <td>{{mobile1.id}}</td>
                  <td (click)="showMobile1()">{{mobile1.productName}}</td>
                  <td>{{mobile1.productType}}</td>
                  <td>{{mobile1.brand}}</td>
                  <td>{{mobile1.price}}</td>
                </tr>
                <tr>
                  <td>{{mobile2.id}}</td>
                  <td (click)="showMobile2()">{{mobile2.productName}}</td>
                  <td>{{mobile2.productType}}</td>
                  <td>{{mobile2.brand}}</td>
                  <td>{{mobile2.price}}</td>
                </tr>
                <tr>
                  <td>{{mobile3.id}}</td>
                  <td (click)="showMobile3()">{{mobile3.productName}}</td>
                  <td>{{mobile3.productType}}</td>
                  <td>{{mobile3.brand}}</td>
                  <td>{{mobile3.price}}</td>
                </tr>
                <tr>
                  <td>{{mobile4.id}}</td>
                  <td (click)="showMobile4()">{{mobile4.productName}}</td>
                  <td>{{mobile4.productType}}</td>
                  <td>{{mobile4.brand}}</td>
                  <td>{{mobile4.price}}</td>
                </tr>
              </tbody>
            </table>
    	</div>
	</div>
</div>