<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header" style="text-align: center;">
          	<span class="navbar-brand">Online Products Store</span>
        </div>
    </div>
</nav>
<div id="main">
    <div class="vertical-menu">
      <ul>
        <a routerLink="/"><li style="text-align: center; font-weight: bold; color: grey;">All Products</li></a>
        <a routerLink="/electronics"><li (click)="toggleElec()">Electronics</li></a>
	        <span *ngIf="showElectronics" id="addmenu">
			    <li (click)="toggleTV()">TV</li>
			    <span *ngIf="showTV" id="addmenu1">
			    	<li (click)="showTV1()">TV1</li>
			    	<li (click)="showTV2()">TV2</li>
			    	<li (click)="showTV3()">TV3</li>
			    	<li (click)="showTV4()">TV4</li>
			    </span>
		        <li (click)="toggleMobile()">Mobiles</li>
		        <span *ngIf="showMobile" id="addmenu1">
			    	<li (click)="showMobile1()">Mobile1</li>
			    	<li (click)="showMobile2()">Mobile2</li>
			    	<li (click)="showMobile3()">Mobile3</li>
			    	<li (click)="showMobile4()">Mobile4</li>
			    </span>
	       	</span>
        <a routerLink="/clothes"><li (click)="toggleClothes()">Clothes</li></a>
        <span *ngIf="showClothes" id="addmenu">
    		<li (click)="toggleShirt()">Shirts</li>
    		<span *ngIf="showShirt" id="addmenu1">
			    <li (click)="showShirt1()">Shirt1</li>
			    <li (click)="showShirt2()">Shirt2</li>
			    <li (click)="showShirt3()">Shirt3</li>
			</span>
			<li (click)="toggleTshirt()">Tshirts</li>
			<span *ngIf="showTshirt" id="addmenu1">
			    <li (click)="showTshirt1()">Tshirt1</li>
			    <li (click)="showTshirt2()">Tshirt2</li>
			    <li (click)="showTshirt3()">Tshirt3</li>
			</span>
		    <li (click)="togglePants()">Pants</li>
		    <span *ngIf="showPants" id="addmenu1">
			    <li (click)="showPants1()">Pants1</li>
			    <li (click)="showPants2()">Pants2</li>
			    <li (click)="showPants3()">Pants3</li>
			</span>
	   	</span>
      <a routerLink="/shoes"><li (click)="toggleShoes()">Shoes</li></a>
	    <span *ngIf="showShoes" id="addmenu">
			<li (click)="showShoes1()">Shoes1</li>
			<li (click)="showShoes2()">Shoes2</li>
		    <li (click)="showShoes3()">Shoes3</li>
		    <li (click)="showShoes4()">Shoes4</li>
	    </span>
      <a routerLink="/books"><li (click)="toggleBooks()">Books</li></a>
	    <span *ngIf="showBooks" id="addmenu">
		    <li (click)="showBooks1()">Books1</li>
			<li (click)="showBooks2()">Books2</li>
			<li (click)="showBooks3()">Books3</li>
			<li (click)="showBooks4()">Books4</li>
	    </span>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="data">
        <h2 class="page-header">All Products Dashboard</h2>
        <br/>
        <h4 style="color: grey;">Hi, Welcome to this website. You can use the Menu on the left to navigate through the items as per their respective category.</h4>
        <br/>
	    <h2 class="sub-header">All Products in this Category</h2>
    	<div class="table-responsive" id="products-list">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Product ID</th>
                  <th>Product Name</th>
                  <th>Product Type</th>
                  <th>Brand</th>
                  <th>Price (In Rupees)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{tv1.id}}</td>
                  <td (click)="showTV1()">{{tv1.productName}}</td>
                  <td>{{tv1.productType}}</td>
                  <td>{{tv1.brand}}</td>
                  <td>{{tv1.price}}</td>
                </tr>
                <tr>
                  <td>{{tv2.id}}</td>
                  <td (click)="showTV2()">{{tv2.productName}}</td>
                  <td>{{tv2.productType}}</td>
                  <td>{{tv2.brand}}</td>
                  <td>{{tv2.price}}</td>
                </tr>
                <tr>
                  <td>{{tv3.id}}</td>
                  <td (click)="showTV3()">{{tv3.productName}}</td>
                  <td>{{tv3.productType}}</td>
                  <td>{{tv3.brand}}</td>
                  <td>{{tv3.price}}</td>
                </tr>
                <tr>
                  <td>{{tv4.id}}</td>
                  <td (click)="showTV4()">{{tv4.productName}}</td>
                  <td>{{tv4.productType}}</td>
                  <td>{{tv4.brand}}</td>
                  <td>{{tv4.price}}</td>
                </tr>
                <tr>
                  <td>{{mobile1.id}}</td>
                  <td (click)="showMobile1()">{{mobile1.productName}}</td>
                  <td>{{mobile1.productType}}</td>
                  <td>{{mobile1.brand}}</td>
                  <td>{{mobile1.price}}</td>
                </tr>
                <tr>
                  <td>{{mobile2.id}}</td>
                  <td (click)="showMobile2()">{{mobile2.productName}}</td>
                  <td>{{mobile2.productType}}</td>
                  <td>{{mobile2.brand}}</td>
                  <td>{{mobile2.price}}</td>
                </tr>
                <tr>
                  <td>{{mobile3.id}}</td>
                  <td (click)="showMobile3()">{{mobile3.productName}}</td>
                  <td>{{mobile3.productType}}</td>
                  <td>{{mobile3.brand}}</td>
                  <td>{{mobile3.price}}</td>
                </tr>
                <tr>
                  <td>{{mobile4.id}}</td>
                  <td (click)="showMobile4()">{{mobile4.productName}}</td>
                  <td>{{mobile4.productType}}</td>
                  <td>{{mobile4.brand}}</td>
                  <td>{{mobile4.price}}</td>
                </tr>
                <tr>
                  <td>{{shirt1.id}}</td>
                  <td (click)="showShirt1()">{{shirt1.productName}}</td>
                  <td>{{shirt1.productType}}</td>
                  <td>{{shirt1.brand}}</td>
                  <td>{{shirt1.price}}</td>
                </tr>
                <tr>
                  <td>{{shirt2.id}}</td>
                  <td (click)="showShirt2()">{{shirt2.productName}}</td>
                  <td>{{shirt2.productType}}</td>
                  <td>{{shirt2.brand}}</td>
                  <td>{{shirt2.price}}</td>
                </tr>
                <tr>
                  <td>{{shirt3.id}}</td>
                  <td (click)="showShirt3()">{{shirt3.productName}}</td>
                  <td>{{shirt3.productType}}</td>
                  <td>{{shirt3.brand}}</td>
                  <td>{{shirt3.price}}</td>
                </tr>
                <tr>
                  <td>{{tshirt1.id}}</td>
                  <td (click)="showTshirt1()">{{tshirt1.productName}}</td>
                  <td>{{tshirt1.productType}}</td>
                  <td>{{tshirt1.brand}}</td>
                  <td>{{tshirt1.price}}</td>
                </tr>
                <tr>
                  <td>{{tshirt2.id}}</td>
                  <td (click)="showTshirt2()">{{tshirt2.productName}}</td>
                  <td>{{tshirt2.productType}}</td>
                  <td>{{tshirt2.brand}}</td>
                  <td>{{tshirt2.price}}</td>
                </tr>
                <tr>
                  <td>{{tshirt3.id}}</td>
                  <td (click)="showTshirt3()">{{tshirt3.productName}}</td>
                  <td>{{tshirt3.productType}}</td>
                  <td>{{tshirt3.brand}}</td>
                  <td>{{tshirt3.price}}</td>
                </tr>
                <tr>
                  <td>{{pants1.id}}</td>
                  <td (click)="showPants1()">{{pants1.productName}}</td>
                  <td>{{pants1.productType}}</td>
                  <td>{{pants1.brand}}</td>
                  <td>{{pants1.price}}</td>
                </tr>
                <tr>
                  <td>{{pants2.id}}</td>
                  <td (click)="showPants2()">{{pants2.productName}}</td>
                  <td>{{pants2.productType}}</td>
                  <td>{{pants2.brand}}</td>
                  <td>{{pants2.price}}</td>
                </tr>
                <tr>
                  <td>{{pants3.id}}</td>
                  <td (click)="showPants3()">{{pants3.productName}}</td>
                  <td>{{pants3.productType}}</td>
                  <td>{{pants3.brand}}</td>
                  <td>{{pants3.price}}</td>
                </tr>
                <tr>
                  <td>{{books1.id}}</td>
                  <td (click)="showBooks1()">{{books1.productName}}</td>
                  <td>{{books1.productType}}</td>
                  <td>{{books1.brand}}</td>
                  <td>{{books1.price}}</td>
                </tr>
                <tr>
                  <td>{{books2.id}}</td>
                  <td (click)="showBooks2()">{{books2.productName}}</td>
                  <td>{{books2.productType}}</td>
                  <td>{{books2.brand}}</td>
                  <td>{{books2.price}}</td>
                </tr>
                <tr>
                  <td>{{books3.id}}</td>
                  <td (click)="showBooks3()">{{books3.productName}}</td>
                  <td>{{books3.productType}}</td>
                  <td>{{books3.brand}}</td>
                  <td>{{books3.price}}</td>
                </tr>
                <tr>
                  <td>{{books4.id}}</td>
                  <td (click)="showBooks4()">{{books4.productName}}</td>
                  <td>{{books4.productType}}</td>
                  <td>{{books4.brand}}</td>
                  <td>{{books4.price}}</td>
                </tr>
                <tr>
                  <td>{{shoes1.id}}</td>
                  <td (click)="showShoes1()">{{shoes1.productName}}</td>
                  <td>{{shoes1.productType}}</td>
                  <td>{{shoes1.brand}}</td>
                  <td>{{shoes1.price}}</td>
                </tr>
                <tr>
                  <td>{{shoes2.id}}</td>
                  <td (click)="showShoes2()">{{shoes2.productName}}</td>
                  <td>{{shoes2.productType}}</td>
                  <td>{{shoes2.brand}}</td>
                  <td>{{shoes2.price}}</td>
                </tr>
                <tr>
                  <td>{{shoes3.id}}</td>
                  <td (click)="showShoes3()">{{shoes3.productName}}</td>
                  <td>{{shoes3.productType}}</td>
                  <td>{{shoes3.brand}}</td>
                  <td>{{shoes3.price}}</td>
                </tr>
                <tr>
                  <td>{{shoes4.id}}</td>
                  <td (click)="showShoes4()">{{shoes4.productName}}</td>
                  <td>{{shoes4.productType}}</td>
                  <td>{{shoes4.brand}}</td>
                  <td>{{shoes4.price}}</td>
                </tr>
              </tbody>
            </table>
    	</div>
	</div>
</div>